<div class="scrollbar-sidebar">
            <div class="app-sidebar__inner">
              <ul class="vertical-nav-menu">
                <li>
                  <a href="../admin/category">
                    <i class="metismenu-icon pe-7s-note2"></i>
                    Post Categories
                  </a>
                </li>

                <li>
                  <a href="../admin/posts" >
                    <i class="metismenu-icon pe-7s-plus"></i>
                    Add Posts
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="metismenu-icon pe-7s-pen"></i>
                    Link Oprations
                  </a>
                </li>
                <li>
                  <a href="tables-regular.html">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Tables
                  </a>
                </li>

                <li>
                  <a href="dashboard-boxes.html">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Dashboard Boxes
                  </a>
                </li>

                <li>
                  <a href="forms-controls.html">
                    <i class="metismenu-icon pe-7s-mouse"> </i>Forms Controls
                  </a>
                </li>
                <li>
                  <a href="forms-layouts.html">
                    <i class="metismenu-icon pe-7s-eyedropper"> </i>Forms
                    Layouts
                  </a>
                </li>
                <li>
                  <a href="forms-validation.html">
                    <i class="metismenu-icon pe-7s-pendrive"> </i>Forms
                    Validation
                  </a>
                </li>

                <li>
                  <a href="charts-chartjs.html">
                    <i class="metismenu-icon pe-7s-graph2"> </i>ChartJS
                  </a>
                </li>
              </ul>
            </div>
          </div>