
                <%- include('layouts/sidebar.ejs') %>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="shadow bg-body rounded p-5 ml-5 mr-5 bg-white">
                                <center>
                                    <h5><b> Add Categories</b></h5>
                                </center>
                                <form action="../api/categories/add">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Category Image URL*</label> <a href="http://52.66.202.171/beetree/">Find Some Here</a>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="image_url" placeholder="Category URL" aria-label="image_url" aria-describedby="basic-addon1" required />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Category Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" placeholder="Category Name" aria-label="name" aria-describedby="basic-addon1" required />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                      Add Category
                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12 mt-3">
                            <div class="shadow bg-body rounded p-5 m-1 mr-5 ml-5 bg-white">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Category name</th>
                                            <th scope="col">Tag</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="users"></tbody>
                                </table>
                            </div>
                            <img src="" alt="" sizes="100" srcset="" />
                        </div>
                    </div>
                </div>
                <script>
                    function allData() {
                        $.get('../api/categories/all', (data) => {
                            let newHtml = '';
                            data.forEach((element) => {
                                newHtml += `<tr>
                                <td>${element.id}</td>
                                <td><img class="img-thumbnail" src="${element.image_url}" alt="${element.name}" style="max-width:150px;" srcset=""/></td>                                <td>${element.name}</td>
                                <td>${element.tag}</td>
                                <td><button onClick=" deleteCategory(${element.id})" class="btn btn-danger">Delete</button></td>
                                </tr>`;
                            });
                            $('#users').html(newHtml);
                        });
                    }

                    function deleteCategory(id) {
                        $.get(`/delete-category/${id}`, (data) => {
                            allData();
                        });
                    }
                    $(document).ready(function() {
                        allData();

                        $('form').submit(function(event) {
                            event.preventDefault();

                            var url = event.target.action; // get the target
                            var formData = $(this).serialize();
                            $.post(url, formData, function(response) {

                                $('form').find('input').val('');
                                $('#users').html('');
                                allData();
                            });
                        });
                    });
                </script>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                        Footer Link 1
                      </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                        Footer Link 2
                      </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                        Footer Link 3
                      </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <div class="badge badge-success mr-1 ml-0">
                                                <small>NEW</small>
                                            </div>
                                            Footer Link 4
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
    <script type="text/javascript" src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script>
</body>

</html>