<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
      body {
        background-color: yellow;
        text-decoration-color: white;
        font-size: 6em;
        text-underline-position: below;
      }
    </style>
  </head>

  <body>
    <center>
      Welcome this is our home page. <br /><a href="admin/signin">Login</a>
    </center>
  </body>
</html>
