<%- include('../layouts/sidebar.ejs') %>
    <style>
        .text-overflows {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
            font-size: medium;
            color: darkslategrey;
        }
    </style>
    </div>
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>All Posts</h5>

                    </div>
                    <center>
                        <div class="row">
                            <div class="input-group mt-3 col-7">
                                <input type="search" onkeyup="showPostsBySearch()" class="form-control" id="searchBox" name="search" placeholder="Start Searching..." />
                            </div>
                            <div class="input-group mt-3 col-4">
                                <select name="type" class="form-control" id="stype">
                                    <option value="all">All</option>
                                    <option value="BLOG">Blog</option>
                                    <option value="VIDEO">Video</option>
                                    <option value="STORY">Story</option>
                                    <option value="PODCAST">Podcast</option>
                                </select>
                            </div>
                            <div class="input-group mt-3 col-1">
                                <button  onclick="showPostsBySearch()" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </center>
                    <div class="mt-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Thumbnail</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Display</th>
                                        <th>Tags</th>
                                        <th>Update/Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-db">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        function showPostsBySearch() {
            let s = $('#searchBox').val();
            let stype = $('#stype').val();
            if (s.length > 0) {
                jQuery.get(`../api/post/search-posts?query=${s}&type=${stype}`, function(data) {
                    let tbld = '';
                    data.data.forEach(post => {
                        post.tags = JSON.parse(post.tags)
                        tbld += `
                                        <tr>
                                            <td colspan="1" title="${post.title}">
                                                <div class=" media align-items-center">
                                                    <div class="m-l-10">
                                                        <a target="_blank" href="${post.link}">
                                                            <p class="text-overflows">
                                                                ${post.title}
                                                            </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><img class="img-thumbnail" src="${post.image_link}" alt="${post.title}" style="max-width:150px;" srcset="" /></td>
                                            <td class="text-info text-overflows" title="${post.description}">
                                                ${post.description}
                                            </td>
                                            <td>
                                                ${post.link_type}
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <i style="font-size: 25px" class="fa fa-${ post.active_link? 'eye' : 'eye-slash'} text-${post.active_link? 'success' : 'danger'}"></i>
                                                </div>
                                            </td>
                                            <td>
                                                ${post.tags.join(", ")}
                                            </td>
                                            <td>

                                                <button class="btn btn-warning p-2" data-toggle="modal" data-target="#bd-example-modal-lg"><i class="fa fa-edit"></i></button>
                                                <a href="delete-service/{{$service->id}}">
                                                    <button class="btn btn-danger p-2" onclick=""><i class="fa fa-trash"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                    `;
                    });
                    $('#tbl-db').html(tbld)
                });
            }
        }
        $(document).ready(function() {


            $('#search_data').tokenfield({
                autocomplete: {
                    source: function(request, response) {
                        jQuery.get('../api/categories/all-category-one', {
                            query: request.term
                        }, function(data) {
                            ar = []
                            data.forEach(object => ar.push(object.tag))
                            response(ar);
                        });
                    },
                    delay: 100
                }
            });

            $('#search').click(function() {
                $('#country_name').text($('#search_data').val());
            });
        });
    </script>
    <div class="modal fade" id="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Posts</h5>
                    <button type="button" class="close" data-dismiss="modal">
            <i class="anticon anticon-close"></i>
            </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <script>
        function allData() {
            $.get('../api/categories/all', (data) => {
                let newHtml = '';
                data.forEach((element) => {
                    newHtml += `<option value="${element.id}">${element.name}</option>`;
                });
                $('#users').html(newHtml);
            });
        }

        function deleteCategory(id) {
            $.get(`/delete-category/${id}`, (data) => {
                allData();
            });
        }
        $(document).ready(function() {
            allData();

            $('form').submit(function(event) {
                event.preventDefault();

                var url = event.target.action; // get the target
                var formData = $(this).serialize();
                $.post(url, formData, function(response) {
                    alert(response.message);
                    response.code == 201 ? $('form').find('input').val('') : '';
                });
            });

            $('#search_data').tokenfield({
                autocomplete: {
                    source: function(request, response) {
                        jQuery.get('../api/categories/all-category-one', {
                            query: request.term
                        }, function(data) {
                            ar = []
                            data.forEach(object => ar.push(object.tag))
                            response(ar);
                        });
                    },
                    delay: 100
                }
            });

            $('#search_data').tokenfield({
                autocomplete: {
                    source: function(request, response) {

                        jQuery.get('../api/categories/all-category-one', {
                            query: request.term
                        }, function(data) {
                            ar = []
                            data.forEach(object => ar.push(object.tag))
                            response(ar);
                        });
                    },
                    delay: 100
                }
            });

            $('#search').click(function() {
                $('#country_name').text($('#search_data').val());
            });

        });
    </script>
    <script type="text/javascript" src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script>
    </body>

    </html>